@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue-Regular.ttf');
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo-Regular.ttf');
}

* {
    margin-left: 0;
    margin-right: 0;
}

body{
    height: 100vh;
    width: 100%;
}

.limitContainer {
    margin: 0 auto;
    width: 80%;
}
/* CABEÇALHO*/
.header {
    position: -webkit-sticky; /* Necessário para funcionar no Safari */
    position: sticky;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    top: 0;
}

.limitContainer a {
    text-decoration: none;
}

.navBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.navItem {
    text-decoration: none;
    color: #044BD9;
    font-family: 'Archivo';
    font-size: 30px;
    display: inline;
}

.dropItem {
    color: #044BD9;
    font-family: 'Archivo';
    font-size: 30px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropItemContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    min-height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropItem:hover .dropItemContent {
    display: block;
}

.opc {
    text-decoration: none;
    color: #044BD9;
    font-size: 20px;
}

.dropItemContent a:hover {
    background-color: #0597F2;
    color: white;
}

.navBar button {
    background-color: #044BD9;
    color: White;
    border: none;
    font-family: 'Bebas Neue';
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 200px;
    height: 60px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.navBar button:hover {
    background-color: #0597F2;
    color: white;
}

.navBar h1{
    font-family: 'Bebas Neue';
    font-size: 50px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #044BD9;
    margin-left: 10px;
}

.userIcon {
    height: 65px;
    width: 65px;
    cursor: pointer;
}

/* MAIN GRID */
.main {
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: auto;   
    grid-gap: 1rem;
}

.card {
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 350px;
    background-color: #044BD9;
    color: white;
    transition: all 0.3s ease-out;
}

.card:hover {
    cursor: pointer;
}

.image {
    width: 350px;
}

.data {  
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    font-family: 'Bebas Neue';
}

.main li {
    list-style: none;
}

.main a {
    text-decoration: none;
}

.address {
    text-align: left;
    font-family: 'Bebas Neue';
}

.price {
    text-align: right;
    font-family: 'Bebas Neue';
    font-size: 30px;
}

.information {
    text-align: left;
    font-family: 'Archivo';
}

.bottomCard {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    margin-top: 20px;
    color: white;
    background-color: #044BD9;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 16px;
    font-family: 'Bebas Neue';
}

/* FORMULÁRIO DE LOGIN / CADASTRO */
.formPopup {
    margin: 5rem auto;
    background-color: white;
    height: 766px;
    width: 727px;
    border-radius: 10px;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.rowBar {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.rowBar h1 {
    margin: 15px auto;
    font-family: 'Bebas Neue';
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
}

.close {
    text-decoration: none;
    transition: all 200ms;
    font-family: 'Bebas Neue';
    font-size: 45px;
    font-weight: 400;
}

.close:hover {
    color: #0597F2;
}

.lineHorizontal {
    position: absolute;
    width: 727px;
    border: 1px solid #808080;
}

.formPopup h2 {
    margin: 100px 20px;
    font-family: 'Archivo';
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
}

.form {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
}

.form input {
    width: 97%;
    height: 80px;
    border-radius: 10px;
    margin-top: 20px;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    color: #000;
}

.form button {
    background-color: #044BD9;
    color: White;
    border: none;
    font-family: 'Bebas Neue';
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 60px;
    margin-top: 57px;
    margin-bottom: 10px;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.form button:hover {
    background-color: #0597F2;
    color: white;
}