@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue-Regular.ttf');
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo-Regular.ttf');
}

* {
    margin-left: 0;
    margin-right: 0;
}

.limitContainer {
    margin: 0 auto;
    width: 80%;
}

.header {
    position: -webkit-sticky; /* Necessário para funcionar no Safari */
    position: sticky;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    top: 0;
}

.navBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.navItem {
    text-decoration: none;
    color: #044BD9;
    font-family: 'Archivo';
    font-size: 30px;
    display: inline;
}

.navBar button {
    background-color: #044BD9;
    color: White;
    border: none;
    font-family: 'Bebas Neue';
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 200px;
    height: 60px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: all 0.3s ease-out;
}

.navBar button:hover {
    background-color: #0597F2;
    color: white;
}

.navBar h1{
    font-family: 'Bebas Neue';
    font-size: 50px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #044BD9;
    margin-left: 10px;
}

.main {
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: auto;   
    grid-gap: 1rem;
}

.card {
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 350px;
    background-color: #044BD9;
    color: white;
    transition: all 0.3s ease-out;
}

.card:hover {
    cursor: pointer;
}

.image {
    width: 350px;
}

.data {  
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    font-family: 'Bebas Neue';
}

.main li {
    list-style: none;
}

.address {
    text-align: left;
    font-family: 'Bebas Neue';
}

.price {
    text-align: right;
    font-family: 'Bebas Neue';
    font-size: 30px;
}

.information {
    text-align: left;
    font-family: 'Archivo';
}

.bottomCard {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    margin-top: 20px;
    color: white;
    background-color: #044BD9;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 16px;
    font-family: 'Bebas Neue';
}